<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<bean id="book" class="com.krik.mypkg.Book">
		<property name="bid" value="123"/>
		<property name="bookName" value="Oop"/>
		<property name="author" value="ABC"/>
	</bean>        
        
</beans>